.name-tag{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}
.side-bar{
    position: fixed;
    z-index: 2;
    top: 50%;
    right: 5%;
}

.under-button{
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
}
